<!-- <div class="dropdown">
  <label class="form-label">
    Categories
  </label>
  <select class="form-control" [(ngModel)]="categroyId" (change)="filerProductsByCatId()">
    <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
  </select>
</div> -->

<!-- <div class="text-primary">
  Category number : {{categroyId}}
</div>
<button class="btn btn-primary" (click)="ChaneCat()">Change category</button>
<br>
<div>Today date : {{Orderdate | date:'medium'}}</div> -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price in USD</th>
      <th scope="col">Price in EGP</th>

      <th scope="col">Quantity</th>
      <th scope="col">Count</th>
      <th scope="col">Buy</th>
    </tr>
  </thead>
  <tbody>
    <!-- class binding -->
    <!-- <tr *ngFor="let item of products" [class.bg-warning]="item.quantity == 0"> -->

    <!-- style binding -->
      <!-- <tr *ngFor="let item of products;let i = index" [style.background-color]="item.quantity > 0 ? 'red' : 'blue'"> -->

      <!-- using trackBy function -->
      <!-- <tr *ngFor="let item of products;index as i;trackBy:prdTrackByFn" [style.background-color]="item.quantity > 0 ? 'red' : 'blue'"> -->

      <!-- hide row -->

      <!-- <tr *ngFor="let item of products;index as i" [style.background-color]="item.quantity > 0 ? 'red' : 'blue'"> -->

      <!-- <ng-container *ngFor="let item of products;index as i">
      <tr *ngIf="item.quantity != 0"  [style.background-color]="item.quantity > 0 ? 'red' : 'blue'"> -->

      <!-- <tr *ngIf="item.quantity != 0"  [style.background-color]="item.quantity > 0 ? 'red' : 'blue'"> -->

     <tr *ngFor="let item of productsList;index as i">

        <!-- safe navigation operator -->
      <!-- <th>{{item?.id}}</th> -->
      <th>{{i+1}}</th>
      <td><img LightBox="red" defaultColor="gray" src="{{item.imageUrl}}" alt=""></td>
      <!-- <td LightBox defaultColor="red">{{item.name}}</td> -->
      <td LightBox="yellow">{{item.name}}</td>

      <!-- <td>{{item.price | currency: 'EUR'}}</td> -->
      <td>{{item.price | currency: 'EUR'}}</td>
      <td>{{item.price | USDtoEGP:  10 | currency :'EGP' : 'code'}}</td>


      <td>
        <!-- <div *ngIf="item.quantity!=0; else outOfStock">{{item.quantity}}</div>
        <ng-template #outOfStock>Out of Stock</ng-template> -->

         <ng-container [ngSwitch]="item.quantity">
            <div *ngSwitchCase="0">Out Of Stock</div>
            <div *ngSwitchCase="1">last item in Stock</div>
            <div *ngSwitchCase="2">last two item in Stock</div>
            <div *ngSwitchDefault>{{item.quantity}}</div>

         </ng-container>

      </td>
      <!-- template variable -->
      <td><input class="form-control" type="number" #itemCount></td>
      <td>
        <button class="btn btn-primary" (click)="MinusQty(item.price,itemCount.value)">Buy</button>
      </td>

      </tr>
    <!-- </ng-container> -->
  </tbody>
</table>
<div>Total Price : {{orderTotalPrice}}</div>
